.button {
  background: white;
  border: none;
  border-radius: .5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: .5rem;
  right: .5rem;
  transition: 1s;
}

.button:hover {
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-2px, -2px);
  transition: 1s;
  cursor: pointer;
}

.icon {
  width: 1rem;
}